<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Tag</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <h2>Create a tag</h2>
    <form method="POST">
      <label for="tag_name">Name:</label>
      <br />
      <input type="text" name="tag_name" placeholder="Enter a tag name" />
      <br />
      <a class="btn btn-outline-success" href="/users" role="button">Cancel</a>
      <button type="submit" class="btn btn-success">Add</button>
    </form>
  </body>
</html>
