<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Post</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h2>Add post for {{user.first_name}} {{user.last_name}}</h2>
    <br />

    <form method="POST">
      <label for="title">Title</label>
      <br />
      <input type="text" name="title" />
      <br />
      <label for="content">Post Content:</label>
      <br />
      <input type="text" name="content" />
      <br />
      <a
        class="btn btn-outline-primary"
        href="/users/{{ user.id }}"
        role="button"
        >Cancel</a
      >
      <button type="submit" class="btn btn-success">Add</button>
    </form>
  </body>
</html>
