<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <title>List of Tags</title>
  </head>

  <body>
    <h1>Tags</h1>
    <ul>
      {% for tag in tags %}
      <li>
        <a href="/tags/{{tag.id}}"> {{ tag.name }}</a>
      </li>
      {% endfor %}
    </ul>
    <a class="btn btn-secondary" href="/tags/new" role="button">Add tag</a>
  </body>
</html>
